* {
  box-sizing: border-box;
}

body {
  margin: 0;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  display: flex;
  color: #252a34;
  height: 100vh;
  background-color: aquamarine;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: white;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.btn {
  background-color: white;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 400px;
}

.search.active .btn {
  transform: translateX(398px);
}
