@font-face {
  font-family: "ecoicon";
  src: url("./ecoicons/ecoicon.woff") format("woff"),
    url("./ecoicons/ecoicon.svg#ecoicon") format("svg");
}

body {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em;
}

.icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
}

.icon::before {
  font-family: "ecoicon";
  font-size: 48px;
  line-height: 90px;
  display: block;
}

.icon-a::before {
  content: "\e000";
}

.icon-b::before {
  content: "\e001";
}

.icon::after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  box-sizing: content-box;
}

.effect-9 .icon {
  transition: box-shadow 0.2s;
}

.effect-9 .icon::after {
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 3px #fff;
  transition: transform 0.2s, opacity 0.2s;
}

.effect-9a .icon:hover::after {
  transform: scale(0.85);
  opacity: 0.5;
}

.effect-9a .icon:hover {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 1);
  color: #fff;
}

.effect-9b .icon:hover::after {
  transform: scale(0.85);
}

.effect-9b .icon:hover {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
  color: #fff;
}
