@font-face {
  font-family: "ecoicon";
  src: url("./ecoicons/ecoicon.woff") format("woff"),
    url("./ecoicons/ecoicon.svg#ecoicon") format("svg");
}

body {
  background-color: #eea303;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em;
}

.icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
}

.icon::before {
  font-family: "ecoicon";
  font-size: 48px;
  line-height: 90px;
  display: block;
}

.icon-a::before {
  content: "\e009";
}

.icon-b::before {
  content: "\e00a";
}

.icon::after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  box-sizing: content-box;
}

.effect-2 .icon {
  color: #eea303;
  box-shadow: 0 0 0 3px #fff;
  transition: color 0.3s;
}

.effect-2 .icon::after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  background: #fff;
  transition: transform 0.2s, opacity 0.2s;
}

.effect-2a .icon:hover {
  color: #eea303;
}

.effect-2a .icon:hover::after {
  transform: scale(0.85);
}

.effect-2b .icon:hover {
  color: #fff;
}

.effect-2b .icon:hover::after {
  transform: scale(0);
  opacity: 0;
  transition: transform 0.4s, opacity 0.2s;
}
