/*常规样式操作*/
*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}

/*设置标头格式*/
.main,
.container > header {
  margin: 0 auto;
  padding: 2em;
}

.container > header {
  text-align: center;
  background: #d94839;
  padding: 3em;
}

.container > header h1 {
  font-size: 2.4em;
  line-height: 1.3;
  margin: 0;
  font-weight: 500;
  letter-spacing: 10px;
}

.container > header span {
  display: block;
  font-size: 50%;
  opacity: 0.7;
  padding: 0 0 0.6em 0.1em;
}

/*主页面内容部分样式*/
.main {
  max-width: 69em;
}

.column {
  float: left;
  width: 50%;
  padding: 0 2em;
  min-height: 300px;
  position: relative;
}

/*中间画一条线*/
.column:nth-child(2) {
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
}

.column .intro {
  font-weight: 300;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  text-align: right;
  line-height: 2;
}

/*设置按钮样式*/
button {
  border: none;
  padding: 0.6em 1.2em;
  background: #c0392b;
  color: #fff;
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px;
}

button:hover {
  background: #a5281b;
}

.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}

/*设置弹窗样式*/
.md-content {
  color: #fff;
  background: #e74c3c;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
}

.md-content h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
}

.md-content > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 300;
  font-size: 1.15em;
}

.md-content button {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
}
.md-perspective body {
  background: #222;
  perspective: 600px;
}

.container {
  background: #e74c3c;
  min-height: 100%;
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

/*设置背景*/
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(143, 27, 15, 0.8);
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

/*弹窗弹出效果-1*/
.md-show.md-effect-1 ~ .container {
  height: 100%;
  overflow: hidden;
}

.md-show.md-effect-1 ~ .md-overlay {
  transition: all 0.5s;
}

.md-show.md-effect-1 ~ .container,
.md-show.md-effect-1 ~ .md-overlay {
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
  animation: OpenTop 0.5s forwards ease-in;
}

/*设置关键帧*/
@keyframes OpenTop {
  50% {
    transform: rotateX(5deg);
    animation-timing-function: ease-out;
  }
}

.md-effect-1 .md-content {
  transform: translateY(-200%);
  opacity: 0;
}

.md-show.md-effect-1 .md-content {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s 0.1s;
}

/*弹窗弹出效果-1*/
/* Effect 2: Fade in and scale up */
.md-effect-2 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-2 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
